In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("mymoviedb.csv",lineterminator='\n')

In [4]:
df.head()

,Release_Date,Title,Overview,Popularity,Vote_Count,Vote_Average,Original_Language,Genre,Poster_Url
0,2021-12-15,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,5083.954,8940,8.3,en,"Action, Adventure, Science Fiction",https://image.tmdb.org/t/p/original/1g0dhYtq4i...
1,2022-03-01,The Batman,"In his second year of fighting crime, Batman u...",3827.658,1151,8.1,en,"Crime, Mystery, Thriller",https://image.tmdb.org/t/p/original/74xTEgt7R3...
2,2022-02-25,No Exit,Stranded at a rest stop in the mountains durin...,2618.087,122,6.3,en,Thriller,https://image.tmdb.org/t/p/original/vDHsLnOWKl...
3,2021-11-24,Encanto,"The tale of an extraordinary family, the Madri...",2402.201,5076,7.7,en,"Animation, Comedy, Family, Fantasy",https://image.tmdb.org/t/p/original/4j0PNHkMr5...
4,2021-12-22,The King's Man,As a collection of history's worst tyrants and...,1895.511,1793,7.0,en,"Action, Adventure, Thriller, War",https://image.tmdb.org/t/p/original/aq4Pwv5Xeu...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9827 entries, 0 to 9826
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Release_Date       9827 non-null   object
 1   Title              9827 non-null   object
 2   Overview           9827 non-null   object
 3   Popularity         9827 non-null   float64
 4   Vote_Count         9827 non-null   int64
 5   Vote_Average       9827 non-null   float64
 6   Original_Language  9827 non-null   object
 7   Genre              9827 non-null   object
 8   Poster_Url         9827 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 691.1+ KB

In [6]:
df["Genre"].head()

0    Action, Adventure, Science Fiction
1              Crime, Mystery, Thriller
2                              Thriller
3    Animation, Comedy, Family, Fantasy
4      Action, Adventure, Thriller, War
Name: Genre, dtype: object

In [7]:
df.duplicated().sum()

0

In [8]:
df.describe()

        Popularity    Vote_Count  Vote_Average
count  9827.000000   9827.000000   9827.000000
mean     40.326088   1392.805536      6.439534
std     108.873998   2611.206907      1.129759
min      13.354000      0.000000      0.000000
25%      16.128500    146.000000      5.900000
50%      21.199000    444.000000      6.500000
75%      35.191500   1376.000000      7.100000
max    5083.954000  31077.000000     10.000000

In [16]:
df['Release_Date'] = pd.to_datetime(df['Release_Date'])
print(df['Release_Date'].dtypes)

datetime64[ns]

In [17]:
df['Release_Date']=df['Release_Date'].dt.year

In [11]:
df['Release_Date'].dtypes

dtype('int32')

In [12]:
cols = ['Overview','Original_Language','Poster_Url']

In [13]:
df.drop(cols,axis=1,inplace=True)
df.columns

Index(['Release_Date', 'Title', 'Popularity', 'Vote_Count', 'Vote_Average',
       'Genre'],
      dtype='object')

In [14]:
df.head()

,Release_Date,Title,Popularity,Vote_Count,Vote_Average,Genre
0,2021,Spider-Man: No Way Home,5083.954,8940,8.3,"Action, Adventure, Science Fiction"
1,2022,The Batman,3827.658,1151,8.1,"Crime, Mystery, Thriller"
2,2022,No Exit,2618.087,122,6.3,Thriller
3,2021,Encanto,2402.201,5076,7.7,"Animation, Comedy, Family, Fantasy"
4,2021,The King's Man,1895.511,1793,7.0,"Action, Adventure, Thriller, War"

# Categorizing Vote_Average column

In [18]:
We would cut the Vote_Average values and makes 4 categories popular average below_avgnot_popular
to describe it more using catigorize_col() function provided above

SyntaxError: invalid syntax (1992068186.py, line 1)

In [19]:
def catigorize_col(df, col, label):
    edges = [df[col].describe()['min'], 
             df[col].describe()['25%'],
             df[col].describe()['50%'],
             df[col].describe()['75%'],
             df[col].describe()['max']]
    df[col] = pd.cut(df[col],edges,labels = labels, duplicates='drop')
    return df

In [20]:
labels = ['not_pupular','below_avg','average','popular']
catigorize_col(df,'Vote_Average',labels)
df['Vote_Average'].unique()

['popular', 'below_avg', 'average', 'not_pupular', NaN]
Categories (4, object): ['not_pupular' < 'below_avg' < 'average' < 'popular']

In [21]:
df.head()

,Release_Date,Title,Popularity,Vote_Count,Vote_Average,Genre
0,1970,Spider-Man: No Way Home,5083.954,8940,popular,"Action, Adventure, Science Fiction"
1,1970,The Batman,3827.658,1151,popular,"Crime, Mystery, Thriller"
2,1970,No Exit,2618.087,122,below_avg,Thriller
3,1970,Encanto,2402.201,5076,popular,"Animation, Comedy, Family, Fantasy"
4,1970,The King's Man,1895.511,1793,average,"Action, Adventure, Thriller, War"

In [22]:
df['Vote_Average'].value_counts()

Vote_Average
not_pupular    2467
popular        2450
average        2412
below_avg      2398
Name: count, dtype: int64

In [23]:
df.dropna(inplace = True)
df.isna().sum()

Release_Date    0
Title           0
Popularity      0
Vote_Count      0
Vote_Average    0
Genre           0
dtype: int64

In [24]:
df.head()

,Release_Date,Title,Popularity,Vote_Count,Vote_Average,Genre
0,1970,Spider-Man: No Way Home,5083.954,8940,popular,"Action, Adventure, Science Fiction"
1,1970,The Batman,3827.658,1151,popular,"Crime, Mystery, Thriller"
2,1970,No Exit,2618.087,122,below_avg,Thriller
3,1970,Encanto,2402.201,5076,popular,"Animation, Comedy, Family, Fantasy"
4,1970,The King's Man,1895.511,1793,average,"Action, Adventure, Thriller, War"

In [25]:
df['Genre'] = df['Genre'].str.split(', ')

df = df.explode('Genre').reset_index(drop=True)
df

,Release_Date,Title,Popularity,Vote_Count,Vote_Average,Genre
0,1970,Spider-Man: No Way Home,5083.954,8940,popular,Action
1,1970,Spider-Man: No Way Home,5083.954,8940,popular,Adventure
2,1970,Spider-Man: No Way Home,5083.954,8940,popular,Science Fiction
3,1970,The Batman,3827.658,1151,popular,Crime
4,1970,The Batman,3827.658,1151,popular,Mystery
...,...,...,...,...,...,...
25547,1970,The United States vs. Billie Holiday,13.354,152,average,Drama
25548,1970,The United States vs. Billie Holiday,13.354,152,average,History
25549,1970,Threads,13.354,186,popular,War
25550,1970,Threads,13.354,186,popular,Drama
25551,1970,Threads,13.354,186,popular,Science Fiction

In [ ]:
df['Genre'] = df['Genre'].astype('category')
df['Genre'].dtypes

In [ ]:
df.info()

In [ ]:
df.nunique()

# Data visualization

In [ ]:
sns.set_style('whitegrid')

In [ ]:
df['Genre'].describe()

In [ ]:
sns.catplot(y = 'Genre',data=df, kind ='count',
            order=df['Genre'].value_counts().index,
            color = '#4285f5')
plt.title('Genre column distribtion')
plt.show()

In [ ]:
sns.catplot(y='Vote_Average', data= df, kind ='count',
            order = df['Vote_Average'].value_counts().index,
            color = '#4287f5')
plt.title('Votes distribution')
plt.show()

# What movie got the highest popularity? what's its genre?

In [ ]:
df.head(2)

In [ ]:
df[df['Popularity'] == df['Popularity'].max()]

In [ ]:
df[df['Popularity']==df['Popularity'].min()]

In [ ]:
df['Release_Date'].hist()
plt.title('Release Date column distribution')
plt.show()